.football {
	position: relative;
	display: none;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;

}

.field {
	width: 100%;
	border-radius: 10px;
	
}

.ball {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
    height: 100px;
}

.gate {
	position: absolute;
	display: inline-block;
	background-color: red;
	width: 1%;
	height: 2%;
	margin-left: 5px;
	margin-right: 5px;
}
.gate-left-up {
	left: 0;
	top: 0;
}
.gate-left-down {
	left: 0;
	bottom: 0;
}
.gate-right-up{
	right: 0;
	top: 0;
}
.gate-right-down{
	right: 0;
	bottom: 0;
}

.score {
	
	display: inline-block;
	padding: 20px 20px;
	background-color: snow;
	font-size: 30px;
	border-radius: 10px;
}

.contaner-score {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 115px;
	background-color: gray;
	margin: auto;
	padding: 5px;
	border-radius: 10px;
}

.setting {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	margin: auto;
	border: 2px solid red;
	border-radius: 10px;
	background-image: url(../img/field.jpg);
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}

.contaner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 300px;
	height: 300px;
	margin: auto;
	border: 2px solid red;
	background-color: snow;

}

h1 {
	font-size: 25px;
	text-align: center;
}
h2 {
	font-size: 15px;
	text-align: center;
}

select {
	display: block;
	width: 200px;
	height: 25px;
	margin: 20px auto;
}

.btn {
	display: block;
	width: 100px;
	height: 50px;
	border: 1px solid blue;
	margin: 0 auto;
	border-radius: 10px;
}

.btn-setup{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
    width: 125px;
    height: 125px;   
}
.btn-new-game {
	display: none;
}

.gol {
	position: absolute;
	display: none;
	top: 10%;
	left: 20%;
	color: red;
    font-size: 300px;
}