@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff') format('woff2'),
		url('../fonts/MullerBold.woff2') format('woff');
	font-display: swap;
    font-style: normal;
    font-weight: bold;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff') format('woff2'),
		url('../fonts/MullerMedium.woff2') format('woff');
	font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff') format('woff2'),
		url('../fonts/MullerRegular.woff2') format('woff');
	font-display: swap;
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.woff') format('woff2'),
		url('../fonts/MyriadPro-Regular.woff2') format('woff');
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'fontawesome-webfont';
	src: url('../fonts/fontawesome-webfont.woff') format('woff2'),
		url('../fonts/fontawesome-webfont.woff2') format('woff');
	font-display: swap;
	font-style: normal;
}

:root {
    --color333: #333;
    --color666: #666;
    --color999: #999;
    --colorfff: #fff;
    --colorf1f1f1: #f1f1f1;
    --color969696: #969696;
    --colorcc9933: #cc9933;

    --contaner-max-width: 1200px;
    --contaner-padding: 15px;
    --columns:12;
    --gutter: 25px;
}

* {
    box-sizing: border-box;
}
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */ 
html,
body {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Типографика */
    font-family: 'Muller', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--color333);
    /* Оформление */  
    background-color: var(--colorf1f1f1);
}

button:hover {
    box-shadow: 0 0 5px 2px var(--color969696);
    transform: translate(2px, -2px);
}

a:hover {
    text-decoration: underline;
}

a {
    /* Типографика */
    text-decoration: none;
    color: var(--color333);
}

img {
    /* Блочная модель */
    max-width: 100%;
}

ul {
    /* Блочная модель */
    padding: 0;
    margin: 0;
    /* Типографика */
    list-style: none;
}



.contaner {
    /* Блочная модель */
    max-width: 1168px;
    margin: 0 auto;
}

.main-title {
    /* Блочная модель */
    padding-left: 45px;
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 0;
    /* Типографика */
    /* Оформление */ 
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
}

.input {
    padding-left: 30px;
    border-radius: 12px;
    border: 1px solid var(--colorfff);
}

.input::placeholder { 
    /* Типографика */
    color: var(--color999);
    font-size: 16px;
} 

.btn {
    /* Блочная модель */
    padding: 12px 20px;
    border: 1px solid var(--colorcc9933);
    border-radius: 12px;
    /* Типографика */
    font-family: 'Muller';
    color: var(--colorcc9933);
    font-weight: normal;
    /* Оформление */ 
    background-color: var(--colorfff);    
}

/* ----------------HEADER--------------------- */

.header_contaner-top {
    /* Блочная модель */
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.header_logo {
    /* Блочная модель */
    padding-right: 25px;
}

.header_tel {
    /* Типографика */
    font-size: 22px;
    line-height: 32px;
    color: var(--color666);
    font-family: 'Muller';
    font-weight: bold;
}

.header_login-link:before {
    /* Блочная модель */
    content: "\f0a9";
    margin-right: 5px;
    /* Типографика */
    font-family: 'fontawesome-webfont';
    color: var(--colorcc9933); 
}

.header_login-link {
    /* Блочная модель */
    margin-left: auto;
    /* Типографика */
    font-family: 'MyriadPro';
    color: var(--colorcc9933);
}

.header_contaner-bottom{
    /* Блочная модель */
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 12px;
    /* Оформление */ 
    background-color: var(--colorfff); 
}

.header_nav-items {
    /* Блочная модель */
    display: flex;
    padding: 30px 0;   
}

.haeder_nav-item {
    /* Типографика */
    line-height: 32px;
    font-weight: 600;
}

.haeder_nav-item:not(:last-child) {
    /* Блочная модель */
    margin-right: 50px;
}

.header-search {
    /* Позиционирование */
    position: relative;
    margin-right: 20px;
    /* Блочная модель */
    display: flex;
    margin-left: auto;   
}

.heder_search-input {
    /* Блочная модель */
    width: 355px;
    height: 48px;
    border: 1px solid var(--colorf1f1f1);
    border-radius: 15px;
    background-color: var(--colorf1f1f1);
}

.heder_search-input::placeholder { 
    /* Типографика */
    color: #bebebe;
    font-size: 14px;
} 

.header_search-button {
    /* Позиционирование */
    position: absolute;
    right: 20px;
    top: 10px;
    /* Блочная модель */
    width: 25px;
    height: 25px;
    border: none;
    /* Оформление */ 
    background-image: url(../img/search.svg);
    background-color: var(--colorf1f1f1);
}

/* ----------------MAIN--------------------- */

.main_offers {
    /* Блочная модель */
    display: flex;
    margin-bottom: 70px;
}

.main_booking {
    /* Блочная модель */
    margin-right: 55px;
}

.main_booking-item {
    /* Блочная модель */
    margin-bottom: 24px;
}

.main_booking-form-input {
    /* Блочная модель */
    width: 518px;
    height: 70px;
}

.main_booking-offer {
    /* Блочная модель */
    display: flex;
    align-items: center;
}

.main_booking-button {
    /* Блочная модель */
    float: left;
    padding: 20px 25px;
    /* Типографика */
    color: var(--colorfff); 
    /* Оформление */     
    background-color: var(--colorcc9933);
}

.main_booking-offer-number {
    /* Блочная модель */
    padding-left: 30px;
    /* Типографика */   
    color: var(--colorcc9933);
    font-family: 'MyriadPro';
    font-weight: 600;
}

.main_booking-offer-text {
    /* Блочная модель */
    padding-left: 5px;
    /* Типографика */
    font-family: 'MyriadPro';
    color: var(--color999);
    font-weight: 600;
}

.main_booking-article {
    /* Блочная модель */
    width: 50%;
}

.main_booking-article-contaner {
    /* Блочная модель */
    width: 595px;
    height: 540px;
    border-radius: 12px;
    /* Оформление */ 
    background-image: url(../img/main.jpg);
    background-color: 12px;
}

.main_booking-article-text {
    /* Блочная модель */
    width: 50%;
    padding-top: 255px;
    padding-left: 40px;
    padding-bottom: 40px;
    /* Типографика */
    font-family: 'Muller';
    font-weight: bold;
    font-size: 66px;
    line-height: 1;
    color: var(--colorfff); 
}

.main_booking-article-price {
    /* Блочная модель */
    display: inline-block;
    padding-left: 40px;
    /* Типографика */
    font-size: 35px;
    color: rgba(255, 255, 255, 0.5);
}

.main_booking-article-link {
    /* Блочная модель */
    padding-left: 40px;
    /* Типографика */
    color: var(--colorcc9933);
}

.main_booking-article-link::after {
    content: url('../img/arrow.svg');
    /* Позиционирование */
    position: relative;
    top: 3px;
    /* Блочная модель */
    padding-left: 5px;    
}

.main_description-text {
    /* Блочная модель */
    width: 80%;
    padding-left:45px;
    /* Типографика */
    line-height: 32px;
    font-family: 'MyriadPro';
}

.main_services_content-contaner {
    /* Блочная модель */
    display: flex;
    flex-wrap: wrap;
}

.main_services-content:nth-child(2n) {
    margin-left: 22px;
}

.main_services-content {
    /* Блочная модель */
    width: 49%;
    border-radius: 12px;
    /* Оформление */   
    background-color: var(--colorfff); 
}

.main_services-content:nth-child(-n+2) {
    /* Блочная модель */
    margin-bottom: 24px;  
}

.main_services-content-img {
    /* Блочная модель */
    margin-bottom: 36px;
    border-radius: 12px 12px 0 0;
    /* Оформление */ 
    background-color: var(--colorf1f1f1);
}

.main_services-content-title-link {
    /* Блочная модель */
    padding-left: 45px;
    /* Типографика */
    color:var(--colorcc9933);
    font-size: 22px;
    font-family: 'Muller';
    font-weight: 300;
}

.main_services-content-title-link::after {
    content: url('../img/arrow.svg');
    /* Позиционирование */
    position: relative;
    top: 2px;
    /* Блочная модель */
    padding-left: 5px;
}

.main_servicec-content-text {
    /* Блочная модель */
    width: 80%;
    padding-top: 5px;
    padding-left: 45px;
    padding-bottom: 25px;
    /* Типографика */
    line-height: 32px;
}

.advantages_contaner{
    /* Блочная модель */
    display: flex;
    flex-wrap: wrap;
}

.main_advantages-content:nth-child(-n+4) {
    /* Блочная модель */
    margin-bottom: 24px;
}

.main_advantages-content:not(:nth-child(4n+1)) {
    /* Блочная модель */
    margin-left: 20px;
}

.main_advantages-content {
    /* Блочная модель */
    width: 23.5%;
    padding-left: 45px;
    border-radius: 12px;
    /* Оформление */ 
    background-color: var(--colorfff); 
    
}

.main_advantages-content-img {
    /* Блочная модель */
    padding-top: 45px;
    padding-bottom: 20px;
}

.main_advantages-content-text {
    /* Блочная модель */
    width: 81%;
    padding-bottom: 40px;
    /* Типографика */
    line-height: 32px;
    font-weight: 600;
}

.main_location-contaner {
    /* Блочная модель */
    display: flex;
    flex-wrap: wrap;
}

.main_location-content:not(:nth-child(3n+1)){
    /* Блочная модель */
    margin-left: 20px;
}

.main_location-content {
    /* Позиционирование */
    position: relative;
    width: 32%;
    /* Блочная модель */
    border-radius: 12px;
    /* Оформление */ 
    background-color: var(--colorfff); 
}

.main_location-content:nth-child(-n+6) {
    /* Блочная модель */
    margin-bottom: 25px;
}

.main_location-content-img {
    /* Блочная модель */
    border-radius: 12px 12px 0 0;

}

.main_location-content-last-img {
    /* Блочная модель */
    height: 100%;
    border-radius: 12px 12px 12px 12px;
}

.main_location-content-price {
    /* Блочная модель */
    margin-top: 30px;
    padding-left: 45px;    
}

.main_location-content-price-by {
    /* Типографика */
    color: var(--color969696);
    font-family: 'MyriadPro';
}

.main-location-content-price-cost {
    /* Типографика */
    font-size: 22px;
    color: var(--color333);
    font-family: 'MyriadPro';
    font-weight: bold;
}

.main-location-content-price-night {
    /* Типографика */
    color: var(--color333);
    font-family: 'MyriadPro';
}

.main_location-content-hotel {
    /* Типографика */
    color: var(--color333);
    font-family: 'MyriadPro';
}

.main_location-content-city {
    /* Типографика */
    color: var(--color999);
    font-family: 'MyriadPro';
}

.main-location-content-stars {
    /* Позиционирование */
    position: absolute;
    top: 257px;
    right: 45px;
}

.main_location-content-hotel {
    /* Блочная модель */
    padding-left: 45px;
    /* Типографика */
    line-height: 32px;
}

.main_location-content-city {
    /* Блочная модель */
    padding-left: 45px;
    /* Типографика */
    line-height: 32px;
}

.main_location-content-room {
    /* Блочная модель */
    margin-left: 45px;
    margin-top: 17px;
    margin-bottom: 40px;
}

.main_location-content-link-more {
    /* Позиционирование */
    position: absolute;
    top: 368px;
    left: 39px;
    /* Типографика */
    font-family: 'Muller';
    font-weight: 300;
    color: var(--colorfff); 
    font-size: 22px;
}

.main_location-content-link-more::after {
    content: url('../img/arrow-wight.svg');
    /* Позиционирование */
    position: relative;
    top: 3px;
    /* Блочная модель */
    padding-left: 5px;
}

.main_feedback {
    /* Блочная модель */
    display: flex;
}

.main_feedback-items {
    /* Блочная модель */
    padding-top: 50px;
    padding-bottom: 44px;
    padding-left: 45px;
    padding-right: 55px;
    border-radius: 12px;
    /* Оформление */ 
    background-color: var(--colorfff); 
    
    
}

.main_feedback-item {
    /* Блочная модель */
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 28px;
    border-bottom: 1px solid #ccc;
}

.main_feedback-item:not(:first-child) {
    /* Блочная модель */
    padding-top: 30px;
}

.main_feedback-item-title {
    /* Блочная модель */
    width: 40%;
    /* Типографика */   
    font-family: 'Muller';
    font-weight: bold;
    font-size: 22px;
    color: var(--color666);
}

.main_feedback-item-text {
    /* Типографика */
    line-height: 24px;
    font-style: normal;
}

.main_feedback-mail-link-text {
    /* Типографика */
    color: var(--color999);
}

.main_feedback-item-text-contaner {
    /* Блочная модель */
    width: 60%;
}

.main_feedback-item-link {
    /* Типографика */
    color: var(--colorcc9933);
    font-family: 'MyriadPro';
}

.main-feedback-contacts-button {
    /* Блочная модель */
    margin-top: 44px;
    padding: 27px 30px;
}

.main_feedback-write {
    /* Блочная модель */
    width: 65%;
}

.main_feedback_write-title {
    /* Блочная модель */
    padding: 0;  
    margin-top: 200px;
    margin-bottom: 45px;
    /* Типографика */
    text-align: center;
}

.main_feedback-write-input {
    /* Блочная модель */ 
    display: block;
    padding-left: 20px;
    margin: 23px auto;
    width: 340px;
    height: 70px;
    border-radius: 12px;
    border: none;
    
}

.main_feedback-write-input::placeholder {
    /* Типографика */
    color: var(--color999);
}

.main_feedback-write-input:first-child {
    /* Блочная модель */
    margin-top: 0;
}

.main_feedback-write-textarea {
    /* Блочная модель */
    display: block;
    padding-left: 20px;
    padding-top: 16px;
    margin: 23px auto;
    width: 340px;
    height: 110px;
    border: none;
    border-radius: 12px;
    resize: none;
}

.main_feedback-write-textarea::placeholder {
    /* Типографика */
    color: var(--color999);
}

.main_feedback-write-button {
        /* Позиционирование */
    /* Блочная модель */
    display: block;
    margin: 0 auto;
    padding: 27px 128px;
    /* Типографика */
    color: var(--colorfff); 
    background-color: var(--colorcc9933);
    font-family: 'Muller';
    font-weight: bold;
}

/* ----------------FOOTER--------------------- */

.footer {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    display: flex;
    padding: 50px 50px 0 50px;
    margin-top: 22px;
    margin-bottom: 50px; 
    border-radius: 12px;
    /* Типографика */
    color: var(--colorfff); 
    line-height: 32px;
    /* Оформление */     
    background-color: var(--color333);
}

.footer_info {
    /* Блочная модель */
    width: 40%;
}

.footer_info-text {
    /* Блочная модель */
    width: 70%;
    margin-bottom: 50px;
    /* Типографика */ 
    font-family: 'MyriadPro';
    
}

.footer_contact-address {
    /* Типографика */
    font-style: normal;
    font-family: 'MyriadPro';
}

.footer_info-contaner-link {
    /* Блочная модель */
    padding-bottom: 50px;
}

.footer_info-link {
    /* Типографика */
    color: var(--colorcc9933);
    font-family: 'MyriadPro';
    
}

.footer_contact-link {
    /* Типографика */
    color: var(--colorcc9933);
    font-family: 'MyriadPro';
    line-height: 24px;
}

.footer_logo-img {
    /* Позиционирование */
    position: absolute;
    left: 734px;
    top: 160px;    
}

.footer_contact-contaner-link {
    /* Блочная модель */
    width: 40%;
    padding-top: 40px;
    /* Типографика */
    line-height: 24px;
    
    
}

.footer_social {
    /* Блочная модель */
    margin-left: auto;
}

.footer_social-item:not(:first-child) {
    /* Блочная модель */
    padding-top: 21px;
}

.footer_social-item-img {
    /* Оформление */ 
    opacity: 0.4;
}
