@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff') format('woff2'),
		url('../fonts/Montserrat-Bold.woff2') format('woff');
	font-display: swap;
    font-style: normal;
    font-weight: bold;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-WideMedium.woff2') format('woff2'),
		url('../fonts/Druk-WideMedium.woff') format('woff');
	font-display: swap;
    font-style: normal;
    font-weight: bold;
}

a {
    text-decoration: none;
    color:#000;
}

body {
    margin: 0;
    background-color: #FF4656;
}

ul, li {
    /* Блочная модель */
    padding: 0;
    margin: 0;
    /* Типографика */
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 25px 97px 20px 73px;
    background-color: #1F2326;
    z-index: 100;
}

.header_riot{
    cursor: pointer;
    padding-right: 60px;
    margin-right: 60px;
    border-right: 3px solid #fff;
}

.header_logo {
    padding-right: 80px;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_items-nav {
    display: flex;
}

.header_item-nav {
    display: flex;
    cursor: pointer;
    border-bottom:3px solid #1F2326;
}

.header_item-nav:hover {
    border-bottom:3px solid #FF4656;
}

.header_item-nav {
    margin-right: 80px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.header_login{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header_login_avatar {
    border-radius: 50%;
    margin-right: 16px;
}

.header_login_exit {
    cursor: pointer;
    margin-left: 15px;
    width: 20px;
}

.header_login_user-name {
    cursor: pointer;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    border-bottom: 3px solid #1F2326;
}

.header_login_user-name:hover {
    border-bottom: 3px solid #FF4656;
}

.main__img_contener {
    position: relative;
    margin-bottom: 30px;
    border: 2px solid #C4C4C4;
}

.main-content {
    padding-left: 200px;
    padding-right: 50px;
}

.img_header {
    cursor: zoom-in;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 54px;
    top: 0;
    display: flex;
    padding: 10px;
    color: #fff;
}

.img_header:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
}

.img_skill_list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    z-index: 2;
}

.skill_item {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    align-items: center;
    text-decoration: none;
}

.skill_item:hover {
    opacity: 0.8;
}

.skill_text {
    color:#fff;
    margin-right: 10px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.skill_img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.img_item {
    cursor: zoom-in;
}

.grid {
    margin: 100px auto 0;
    max-width: 1260px;
}

.grid-item {
    margin-bottom: 30px;
}

.img_footer {
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #FF465699;
    
}

.img_avatar {
    margin-left: 20px;
}

.img_nickname {
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.main_background-img {
    position: fixed;
    top: 0;
    min-width:100%;
    min-height:100%;
    mix-blend-mode: multiply;
    z-index: -1;
}

.main_background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF4656;
    z-index: -2;
}

.main_content-text {
    position: fixed;
    top: 150px;
    left: 50px;
    font-family: "Druk Wide";
    font-size: 5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-align: center;
    writing-mode: tb-rl;
}

.main-login-contaner {
    display: block;
    margin-top: 200px;
}

.main-login {
    position: relative;
    text-align: center;
    padding: 30px;
    margin: auto;
    width: 600px;
    height: auto;
    border: 2px solid #1F2326;
    background-color: #fff;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
}

.main-login_header {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 32px;
    font-family: 'Druk Wide';
    font-size: 40px;
    color: #C4C4C4;
}

.main-login_text {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 15px;
    left: -29px;
    writing-mode: tb-rl;
    font-family: "Druk Wide";
    -webkit-text-stroke: 2px #1F2326;
    color: transparent;
    font-size: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

input {
    padding: 20px;
    width: 500px;
    margin-bottom: 30px;
    border: 1px solid #1F2326;
    font-family: "Montserrat";
    font-size: 16px;
    color: #1F2326;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #F8F8F8;
}

input::placeholder {
    font-family: "Montserrat";
    font-size: 16px;
    color: #1F2326;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

button {
    cursor: pointer;
    width: 200px;
    padding: 20px;
    font-family: "Montserrat";
    font-size: 20px;
    color: #1F2326;
    background-color: #F8F8F8;
}

.zoom_contaner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #000;
    background-color: #f8f8f899;
    z-index: 101;
    overflow: hidden;
}

.zoom_content {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    background-color: #F8F8F8;
}

.zoom_img {
    max-height: 100%;
    margin: 0 auto
}

.zoom_user {
    display:flex;
    align-items: center;
    margin-bottom: auto;
}

.zoom_user-nickname {
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.zoom_user-nickname:hover {
    color:#FF4656;
}

.zoom_button {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    
}

.zoom_skill-button {
    margin-bottom: 20px;
}

.zoom_link {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    text-decoration: none;
}

.zoom_link:hover {
    color:#FF4656;
    opacity: 0.8;
}

.zoom_link-text {
    color: #000;
    margin-right: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}




@media (max-width: 1510px) {
    .grid {
        max-width: 830px;
    }

}

@media (max-width: 1440px) {
    .zoom_img {
        max-width: 670px;
    }
}

@media (max-width: 1080px) {
    .main_content-text {
        display: none;
    }

    .main-content {
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .zoom_img {
        max-width: 600px;
    }

    .zoom_content {
        width: 95%;
    }

    .zoom_user-nickname {
        display: none;
    }
}

@media (max-width: 840px) {
    
    .grid {
        max-width: 400px;
    }

}

@media (max-width: 768px) {
    .zoom_img {
        max-width: 400px;
    }
}

@media (max-width: 430px) {
    .main-login_text {
        display: none;
    }

    .main-login {
        width: 360px;
    }

    .zoom_content {
        height: 70%;
    }

    .zoom_user {
        display: none;
    }

    .zoom_img {
        display: none;
    }

    .main_background-img {
        display: none;
    }
}

