@import url("../fonts/opensans.css");

body {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    color: #333;
    background-color: #999;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

a {
    cursor: pointer;
    text-decoration: none;
}

h3 {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
}

@mixin content-contaner($top: 85px, $bottom: 80px) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: 150px;
    padding-right: 160px;
}

@mixin button() {
    cursor: pointer;
    position: relative;
    padding: 23px 30px;
    border: 2px solid #9D5CD0;
    border-radius: 30px;
    background-color: transparent;
    font-weight: bold;

    &:hover {
        color:#fff;
        background-color: #9D5CD0;
    }
    &:active {
        background-color: #D1A9F0;
    }

    &:focus {
        &::after {
            content: "";
            position: absolute;
            top: -7px;
            left: -7px;
            right: 0;
            bottom: 0;
            display: block;
            border: 2px solid #9D5CD0;
        }
    }
}

@mixin swiper-button {
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
    top: 130px;

    &::after {
        font-size: 15px;
        color: #fff;
    }
}

@mixin p-class {
    &:hover {
        color: #C283F3;
    }
    &:focus {
        outline: 1px solid #7943A4;
    }
    &:active {
        color: #7943A4;
        outline: none;
    }
}

.contaner {
    width: 1920px;
    margin: 0 auto;
}
.header {
    position: relative;

    &__background-img {
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
.header-main {
    @include content-contaner($top:22px,$bottom:22px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}
.header-search {
    @include content-contaner($top:0, $bottom:0);
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-banner {
    @include content-contaner(70px, 120px);
    max-width: 600px;
    color: #fff;


    &__title {
        font-weight: bold;
        font-size: 72px;
        line-height: 83px;
    }

    &__subtitle { 
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
    }
    &__button {
        @include button();
        margin-top: 92px;
        font-size: 20px;
        color:#fff;
        background-color: #9D5CD0;
        &:focus {
            &::after {
                width: 333px;
                height: 80px;
                border-radius: 35px;
            }
        }
    }
}
// Автоматический слайдер с анимацией
.swiper-container-background {
    width: 1920px;
    height: 800px;
    overflow: hidden;

    @keyframes backgroundImg {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .swiper-slide-active {
        position:absolute;
        top: 0;
        left: 0;
        animation: backgroundImg 5s ease-in-out infinite;
    }

    .slide_1 {
        background-image: url('../img/unsplash1.jpg');
    }
    .slide_2 {
        background-image: url('../img/unsplash2.jpg');
    }
    .slide_3 {
        background-image: url('../img/unsplash3.jpg');
    }
}
// Логотип
.logo {
    &__title {
        font-weight: 600; 
        font-size: 36px;
    }
    &__subtitle {
        font-size: 15px;
        font-weight: 100;
    }
}
// Навигация
.main-nav {
    &__link {
        @include p-class();
        color: #fff;
    }

    &__items {
        display: flex;
        font-size: 18px;
        font-weight: 100;
    }

    &__item:not(:last-child) {
        margin-right: 70px;
    }
}
// Кнопка Войти
.login {
    @include p-class();
    cursor: pointer;
    font-style: 18px;
    
    &::before {
        content: "\2386";
        position: relative;
        top: 3px;
        margin-right: 6px;
        font-size: 35px;
    }
}
// Меню с выпадающими списками
.search-nav {
    display: flex;
    &__item {
        color: #fff;
        position: relative;
        font-weight: 100;

        &:not(:last-child) {
            margin-right: 120px;
        }

        &:hover {
            color: #C283F3;

            a::after {
                top: 1px;
                border-bottom: none;
                border-right: none;
                border-top: 1px solid #C283F3;
                border-left: 1px solid #C283F3;
            }
        }
        &:hover .search-nav__list {
            display: block;
        }
        
    }
    &__link {
        display: flex;
        height: 70px;
        align-items: center;
        &::after {
            content: ""; //2227
            position: relative;
            bottom: 2px;
            left: 10px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-bottom: 1px solid #FFFFFF;
            border-right: 1px solid #FFFFFF;
            box-sizing: border-box;
            transform: rotate(45deg);
        }      
    }
    &__list {
        position: absolute;
        top: 70px;
        display: none;
    }  
}
// Список художников с кастомным скролбаром
.painter-list {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);

    .simplebar-vertical {
        background-color: #000;
        width: 3px !important;
        height: 222px;
        top: 38px !important;
        right: 13px;
    }
    .simplebar-scrollbar {
        background-color: #9D5CD0;
    }

    &__item {
        position:relative;
        cursor: pointer;
        width: 206px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 14px;
        margin-left: 40px;
        margin-right: 40px;
        color: #fff;

        &:not(:last-child){
            margin-bottom: 20px;
        }
        &:first-child {
            margin-top: 40px;
        }
        &:last-child {
            margin-bottom: 40px;
        }

        &:hover {
            outline: 2px solid #9D5CD0;
        }
        &:active {
            outline: 2px solid #D1A9F0;
            background-color: #C283F3;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 220px;
                height: 40px;
                background-color: #C283F3;
                opacity: 0.4;
            }
        }
    }
    .item1{
        background-image: url(../img/menu/Rectangle57.jpg);
    }
    .item2{
        background-image: url(../img/menu/Rectangle58.jpg);
    }
    .item3{
        background-image: url(../img/menu/Rectangle59.jpg);
    }
    .item4{
        background-image: url(../img/menu/Rectangle60.jpg);
    }
}
// Форма поиска
.form-search {
    &:hover {
        rect {
            fill: #C283F3;
        }
        path {
            fill: #C283F3;
        }
        input {
            border-bottom: 1px solid #C283F3;
        }
    }

    &:focus-within {
        rect {
            fill: #C283F3;
        }
        path {
            fill: #C283F3;
        }
        input {
            color: #C283F3;
            border-bottom: 1px solid #fff;
        }
    }

    svg {
        position: relative;
        top: 5px;
        margin-right: 9px;

        &:focus {
            outline: 1px solid #C283F3;
        }
    }

    input {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        width: 218px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 100;
        color: #fff;

        &::placeholder {
            font-family: "Open Sans";
            font-size: 18px;
            line-height: 25px;
            font-weight: 100;
            color: #fff;
        }
        &:focus {
            outline: 1px solid #C283F3;
        }
    }
}

// О нас
.about-us {
    @include content-contaner(80px, 66px);
    background-color: #fff;

    &__subtitle {
        width: 67%;
        margin-top: 15px;
        line-height: 32px;
    }
}
// Галерея
.gallery {
    @include content-contaner($bottom: 75px);
    position: relative;
    height: 835px;
    background-image: url(../img/gallery.jpg);
    color:#fff;
    overflow: hidden;
    &__title {
        margin-bottom: 20px;
    }
    &__contaner{
        display: flex;
        height: 740px;
    }
    &__filter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 450px;
    }
    &__info {
        width: 400px;
        font-weight: 600;
        line-height: 32px;
        a {
            color: #9D5CD0;
        }
    }
}
.select {
    cursor: pointer;
    margin-top: 18px;
    width: 400px;
    &__title {
        margin-bottom: 25px;
    }

    &__header {
        position: relative;
        display: flex;
        padding: 10px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 6px;
    }

    &__icon {
        position: absolute;
        right: 14px;
        top: 14px;
        width: 7px;
        height: 7px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(45deg);
    }

    &__body {
        border-radius: 6px;
        border: 1px solid #999;
        display: none;
    }
    &__item {
        padding: 10px;
        color: #999;

        &:not(:last-child){
            border-bottom: 1px solid #999;
        } 
    }

    &.is-active .select__body{
        display: block;
    }
    
    &.is-active .select__icon{
        border-right: none;
        border-bottom: none;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
    }
    
    .hidden-item {
        display: none;
    }
}
.swiper-container-gallery {
    overflow: hidden;

    .swiper-wrapper {
        overflow: hidden;
    }
    
    .swiper-slide {
        height: 350px;
        width: 350px;
      }

    .swiper-button-prev {
        @include swiper-button;
        left: 605px;
    }

    .swiper-button-next {
        @include swiper-button;
        left: 705px;
    }

    .swiper-pagination {
        width: 100px;
        height: auto;
        top: 118px;
        left: 620px;
    }
}
// Каталог
.catalog {
    @include content-contaner($bottom: 0);
    background-color: #fff;
    
    &__header {
        display: flex;
    }

    &__text {
        margin-top: 19px;
        line-height: 31px;
        margin-bottom: 40px;
        width: 67%;
    }

    &__body {
        display: flex; 
    }
    .ui-state-active {
        .age-accordion__button::after {
            content: "";
            top: 0;
            border-top: none;
            border-left: none;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
        }
    }
    .ui-accordion-content-active {
        padding-top: 16px;
        padding-bottom: 22px;
        padding-left: 10px;
        margin: 0 !important;
        padding: 0;
    }
    .ui-accordion-header {
        margin: 0 !important;
    }
    
}
.language-list {
    position: relative;
    top: 12px;
    right: 8px;
    display: flex;

    &__item {
        margin-left: 50px;
    }
}
.biography-card {
    width: 750px;
    margin-right: 50px;

    &__name {
      font-size: 25px;
      line-height: 33px;
      margin-top: 30px;            
    }
    &__date {
        font-size: 12px;
        margin-top: 10px;
        color:#999
    }
    &__text {
        margin-top: 7px;
        font-size: 16px;
        line-height: 32px;
    }
}
.age-accordion {
    width: 800px;
    &__header {
        display: flex !important;
        align-items: center;
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        height: 113px;

        &:nth-child(13){
            border-bottom: 1px solid #cacaca;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px; 
    }
    &__button {
        margin-left: auto;
        width: 50px;
        height: 50px;
        background-color: #ececec;
        border-radius: 50%;
        border: none;

        &::after {
            content: "";
            position: relative;
            top: 3px;
            left: 12px;
            display: block;
            width: 12px;
            height: 12px;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            transform: rotate(45deg);
        }
    }
    &__list {
        padding: 25px 0 0 0!important;
        height: 315px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        li {
            cursor: pointer;
            line-height: 32px;
            margin-left: 0;
            width: 258px;
            &:hover {
                color: #9D5CD0;
            }

        }
        
    }
}

// События
.events {
    @include content-contaner($top: 75px, $bottom: 70px);
    background-color: #fff;
    &__contaner {
        display:flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .card-hidden {
            display: none;
        }
        .event-card {
            position: relative;
            width: 500px;
            height: 700px;
            outline: 1px solid #999;
            &:not(:nth-child(3n+1)){
                margin-left: 50px;
            }
            &:nth-child(n+4){
                margin-top: 50px;
            }
            .date {
                margin-top: 11px;
                margin-right: 19px;
                text-align: right;
                color: #999;
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
            }
            .name {
                margin-top: 4px;
                margin-left: 50px;
                margin-right: 50px;
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
            }
            .info {
                margin-left: 50px;
                margin-right: 50px;
                line-height: 32px;
            }
            a {
                position: absolute;
                bottom: 48px;
                left: 50px;
                border-bottom: 1px solid #9D5CD0
            }
    
        }
    }
    button {
        @include button;
        display: block;
        width: 180px;
        margin: 50px auto 0;
        color: #9D5CD0;
        font-weight: bold;
        &:focus {
            &::after {
                width: 186px;
                height: 70px;
                border-radius: 38px;
            }
        }
    }
}
// Издания
.books-contaner {
    @include content-contaner($top:80px, $bottom:67px);
    display: flex;
    background-image: url(../img/books.jpg);
    color: #fff;

    .books {
        width: 610px;

        .checkbox {
            display: flex;
            flex-direction: column;

            &-header {
                margin-top: 15px;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 16px;
                line-height: 32px;
            }
            .label-check {
                cursor: pointer;
                position: relative;
                padding-left: 24px;
                transition: color .3s ease-in-out ;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
            &-item {
                display: none;
            }
            &-item + span {
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                border: 1px solid #fff;
            }
            &-item:checked + span {
                border: 1px solid #C283F3;
                transition: border .3s ease-in-out ;
            }
            &-item + span::before {
                content: '\25CF';
                position: absolute;
                bottom: 0;left: 1px;
                opacity: 0;
                color: #C283F3;
                transition: opacity .3s ease-in-out ;
            }
            &-item:checked + span::before{
                opacity: 1;
            }
        }
        .cost {
            margin-top: 30px;
            &__header {
                font-weight: bold;
                margin-bottom: 10px;
                line-height: 32px;
            }
            &__contaner{
                display: flex;
                width: 277px;
                border: 1px solid #999;
                border-radius: 6px;
                p {
                    font-weight: normal;
                    margin: 11px 10px;
                }
                input {
                    width: 73px;
                    color: #fff;
                    font-size: 16px;
                    background-color: #9D5CD0;
                    border: none;
                }

            }
        }
    }
    .books_list {
        position: relative;
        margin-left: 163px;
        padding-top: 94px;
        padding-bottom: 10px;
        padding-left: 10px;
        overflow: hidden;
        .books__item{
            position: relative;
            max-width: 350px;
            height: 512px;
            .name {
                margin-top: 23px;
                font-weight: 600;
            }
            .autor {
                margin-top: 10px;
            }
            .cost {
                position: absolute;
                bottom: 80px;
                right: -6px;
                font-style: italic;
            }
            button {
                @include button();
                cursor:pointer;
                margin-top: 15px;
                color: #fff;
                padding: 10px 28px;
                &:focus {
                    &::after {
                        width: 126px;
                        height: 46px;
                        border-radius: 24px;
                    }
                }
            }
            
        }
        .swiper-pagination {
            position: absolute;
            height: 20px;
            width: 35px;
            top: 41px;
            left: 55px;
            text-align: unset;
        }

        .swiper-button-next {
            position: absolute;
            @include swiper-button;
            top: 54px;
            left: 110px;
        }
        .swiper-button-prev {
            position: absolute;
            @include swiper-button;
            top: 54px;
        }
    }
}

.projects {
    @include content-contaner($top:80px);
    background-color: #fff;
    p {
        margin-top: 16px;
        line-height: 32px;
        width: 65%;
      span {
          position: relative;
      }
      .text {
        position: relative;
        color:#fff;
        margin-left: 9px;
        margin-right: 8px;
        &::before {
            content: "i";
            position: absolute;
            left: 1px;
            color: #fff;
            z-index: 1;
            font-size: 14px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: -5px;
            background-color: #9D5CD0;
            border-radius: 50%;
            display: inline-block;
            width: 16px;
            height: 16px;
        }
      }
      .tooltip {
        position:absolute;
        bottom: 30px;
        right: -121px;
        width: 240px;
        padding: 8px 11px;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        background-color: #cacaca;
        opacity: 0;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 125px;
            border: 6px solid transparent;
            border-top-color: #cacaca;
        }
      }
      .text:hover + .tooltip {
        opacity: 1;
    }
    }
    .sponsors__name {
        margin-top: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }

    .swiper-container-sponsors {
        position: relative;
        margin-top: 23px;
        margin-right: 54px;
        margin-left: 75px;
        overflow: hidden;
    }
    .button {
        position: relative;
    }
    .swiper-button-prev {
        @include swiper-button;
        position: absolute;
        top: -70px;
        left: 0px;
    }
    .swiper-button-next {
        @include swiper-button;
        position: absolute;
        top: -70px;
        right: 7px;
    }
}

.contacts {
    @include content-contaner($top:0px);
    display: flex;
    background-color: #fff;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    h3 {
        padding-left: 160px;
    }

    .form {
        width: 525px;
        border-top: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
        padding-top: 125px;
        padding-left: 160px;
        padding-bottom: 100px;

        .firmname {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }

        .adress {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            div{
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 17px;
            }
            input {
                width: 350px;
                border-radius: 100px;
                padding: 11px 24px 11px;
                border: 1px solid #333;

                &::placeholder {
                    font-size: 16px;
                    line-height: 32px;
                    color: #999;
                }
            }
            .input__name{
                margin-bottom: 25px;

            }
            button {
                @include button();
                margin-top: 23px;
                padding: 17px 35px;
                width: 157px;

            }
        }
        .telephone {
            margin-top: 40px;
            div {
                margin-bottom: 18px;
                font-size: 24px;
                line-height: 32px;
            }
            img:first-child{
                margin-right: 20px;
            }
            
        }
    }
    .map {
        position: relative;
        padding-top: 65px;
    }
    /* Работа с картой Яндекс */

    [class*="ground-pane"] {
        filter: grayscale(1);
    }

    [class*="gotoymaps__container"] {
        display: none !important;
    }

    [class*="copyright__content"] {
    display: none !important;
    }

}

footer {
    @include content-contaner();
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: #000;
    color: #fff;

    img:not(:last-child){
        margin-right: 20px;
    }
}
