@import url("../fonts/opensans.css");

body {
    font-family: 'Open Sans';
    font-style: 16px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #333;
    background-color: #999;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

@mixin content-contaner {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 160px;
    padding-right: 160px;
    
}

@mixin button {
    cursor: pointer;
    padding: 17px 35px;
    border: 1px solid #9D5CD0;
    border-radius: 30px;
    background-color: transparent;
    font-weight: bold;
}

@mixin swiper-button {
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
    top: 110px;

    &::after {
        font-size: 15px;
        color: #fff;
    }
}

.contaner {
    width: 1920px;
    margin: 0 auto;

    .swiper-container {
        position: absolute;
        width: 1920px;
        height: 800px;
        z-index: -1;
    }

    .slide_1 {
        background-image: url('../img/unsplash1.jpg');
    }
    .slide_2 {
        background-image: url('../img/unsplash2.jpg');
    }
    .slide_3 {
        background-image: url('../img/unsplash3.jpg');
    }
}

h3 {
    font-size: 48px;
    line-height: 65px;
}

.header {
    @include content-contaner;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    
    &__logo {
        margin-right: 50px;

        h1 {
            font-weight: 600; 
            font-size: 39px;
        }
        p {
            font-style: 12px;
        }
    }

    &__nav {
        ul {
            display: flex;
            font-size: 18px;
            font-weight: 600;
        }

        li:not(:last-child) {
            
            margin-right: 62px;
        }
    }

    &__login {
        font-style: 18px;

        &::before {
            content: "\2386";
            position: relative;
            top: 3px;
            margin-right: 6px;
            font-size: 35px;
            
        }

    }
}

.search {
    @include content-contaner;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 30px;
    padding-bottom: 30px;

    ul{
        display: flex;
    }

    li {
        color: #fff;

        &::after {
            content: ""; //2227
            position: relative;
            bottom: 2px;
            left: 10px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-bottom: 1px solid #FFFFFF;
            border-right: 1px solid #FFFFFF;
            box-sizing: border-box;
            transform: rotate(45deg);
        }
        &:not(:last-child) {
            margin-right: 97px;
        } 
    }

    img {
        margin-right: 9px;
    }

    input {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        width: 218px;

        &::placeholder {
            font-family: "Open Sans";
            font-size: 18px;
            line-height: 25px;
            color: #fff;
        }
    }
}

.main-banner {
    @include content-contaner;
    max-width: 600px;
    color: #fff;


    h2 {
        font-weight: bold;
        font-size: 72px;
        line-height: 98px;
        
    }

    p { margin-top: 5px;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
    }
    button {
        @include button;
        margin-top: 92px;
        color:#fff;
        background-color: #9D5CD0;
    }
}

.about-us {
    @include content-contaner;
    background-color: #fff;

    p {
        margin-top: 30px;
        line-height: 32px;
    }
}

.gallery {
    @include content-contaner;
    position: relative;
    display: flex;
    height: 835px;
    background-image: url(../img/gallery.jpg);
    color:#fff;
    overflow: hidden;

    .swiper-container-gallery {
        overflow: hidden;
        margin-top: 105px;
    }
    
    .swiper-wrapper {
        overflow: hidden;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: 350px;
        max-width: 350px;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }


    
    .swiper-button-prev {
        @include swiper-button;
        left: 644px;
 
    }

    .swiper-button-next {
        @include swiper-button;
        left: 744px;
    }

    .swiper-pagination {
        width: 100px;
        height: auto;
        top: 97px;
        left: 660px;
    }

    .column-one {
        min-width: 490px;
    }

    .filter {
        margin-top: 30px;
    }

    select {
        margin-top: 20px;
    }

    .info {
        position: absolute;
        width: 400px;
        bottom: 80px;
        font-weight: 600;
        line-height: 32px;

        a {
            color: #9D5CD0;
        }
    }
}
.select.is-active .select__body{
    display: block;
}

.select.is-active .select__icon{
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.hidden-item {
    display: none;
}

.select {
    cursor: pointer;
    margin-top: 30px;
    width: 400px;

    &__header {
        position: relative;
        display: flex;
        padding: 15px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 6px;
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 18px;
        width: 7px;
        height: 7px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(45deg);
    }

    &__body {
        border-radius: 6px;
        border: 1px solid #999;
        display: none;
    }
    &__item {
        padding: 15px;
        color: #999;

        &:not(:last-child){
            border-bottom: 1px solid #999;
        }
        
    }
}

.catalog {
    @include content-contaner;
    background-color: #fff;
    
    &__header {
        display: flex;
    }
    ul {
        display: flex;

        li{
            margin-left: 50px;
        }
    }

    p {
        margin-top: 30px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    &__body {
        display: flex;

        .card {
          width: 750px;
          margin-right: 50px;

          .name {
              font-size: 24px;
              line-height: 33px;
              margin-top: 30px;            
          }
          .date {
              font-size: 12px;
              line-height: 16px;
              margin-top: 15px;
              color:#999
          }
          .info {
              margin-top: 15px;
              font-size: 16px;
              line-height: 32px;
          }
        }

        .age {
            width: 800px;
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #cacaca;
                border-bottom: 1px solid #cacaca;
                padding-top: 32px;
                padding-bottom: 32px;

                p {
                   font-size: 24px;
                   font-weight: 600;
                   line-height: 32px; 
                }

                button {
                    width: 50px;
                    height: 50px;
                    background-color: #ececec;
                    border-radius: 50%;
                    border: none;

                    &::after {
                        content: "";
                        position: relative;
                        top: 3px;
                        left: 12px;
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-top: 1px solid #000;
                        border-left: 1px solid #000;
                        transform: rotate(45deg);
                    }
                }
            }
            ul {
                padding-top: 25px;
                padding-bottom: 38px;
                height: 270px;
                display: flex;
                flex-direction: column;
	            flex-wrap: wrap;
                li {
                    margin-left: 0;
                    width: 250px;
                    &:not(:nth-child(9n+1)) {
                        margin-top: 15px;
                    }
                }
                
            }
        }
        
    }
}

.events {
    @include content-contaner;
    background-color: #fff;
    &__contaner {
        display:flex;
        flex-wrap: wrap;
        
        .card {
            position: relative;
            width: 500px;
            height: 700px;
            outline: 1px solid #999;
            &:not(:nth-child(3n+1)){
                margin-left: 50px;
            }
            &:nth-child(n+4){
                margin-top: 50px;
            }
            .date {
                margin-top: 13px;
                margin-right: 19px;
                text-align: right;
                color: #999;
                font-size: 12px;
                font-weight: 600;
                line-height: 20px;
            }
            .name {
                margin-left: 50px;
                margin-right: 50px;
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
            }
            .info {
                margin-left: 50px;
                margin-right: 50px;
                line-height: 32px;
            }
            a {
                position: absolute;
                bottom: 48px;
                left: 50px;
            }
    
        }
    }
    button {
        @include button;
        display: block;
        margin: 50px auto 80px;
        color: #9D5CD0;
        font-weight: bold;

    }
}

.books-contaner {
    @include content-contaner;
    display: flex;
    background-image: url(../img/books.jpg);
    color: #fff;

    .books {
        width: 610px;

        .checkbox {
            display: flex;
            flex-direction: column;

            &-header {
                font-weight: bold;
                font-size: 16px;
                line-height: 32px;
            }
            .label-check {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

        }
        .cost {
            margin-top: 30px;
            &__header {
                font-weight: bold;
                margin-bottom: 10px;
                line-height: 32px;
            }
            &__contaner{
                display: flex;
                width: 277px;
                border: 1px solid #999;
                border-radius: 6px;
                p {
                    font-weight: normal;
                    margin: 4px 10px;
                }
                input {
                    width: 73px;
                    background-color: #9D5CD0;
                    border: none;
                }

            }
        }
    }
    .books_list {
        position: relative;
        margin-left: 190px;
        padding-top: 50px;
        overflow: hidden;
        .books__item{
            position: relative;
            max-width: 350px;
            height: 512px;
            .name {
                margin-top: 23px;
                font-weight: 600;
            }
            .autor {
                margin-top: 10px;
            }
            .cost {
                position: absolute;
                bottom: 80px;
                right: 20px;
                font-style: italic;
            }
            button {
                @include button;
                margin-top: 20px;
                color: #fff;
                padding: 8px 14px;
            }
        }
        .swiper-pagination {
            position: absolute;
            top: 16px;
            left: 55px;
            text-align: unset;
        }

        .swiper-button-next {
            position: absolute;
            @include swiper-button;
            top: 30px;
            left: 100px;
        }
        .swiper-button-prev {
            position: absolute;
            @include swiper-button;
            top: 30px;
        }

        

    }
}

.projects {
    @include content-contaner;
    background-color: #fff;
    p {
      margin-top: 30px;
      line-height: 32px;
      width: 65%;  
    }
    .sponsors__name {
        margin-top: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    .swiper-container-sponsors {
        position: relative;
        padding-top: 23px;
        padding-left: 50px;
        overflow: hidden;

        .swiper-button-prev {
            @include swiper-button;
            position: absolute;
        }
        .swiper-button-next {
            @include swiper-button;
            position: absolute;
        }
    }
}

.contacts {
    @include content-contaner();
    background-color: #fff;
    padding-bottom: 0;
    padding-left: 0;

    h3 {
        padding-left: 160px;
    }

    .form {
        width: 540px;
        border-top: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
        padding-top: 124px;
        padding-left: 160px;
        padding-bottom: 124px;

        .firmname {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }

        .adress {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-top: 36px;
            div{
                font-size: 24px;
                line-height: 32px;
            }
            input {
                width: 400px;
                border-radius: 100px;
                padding: 4px 24px 4px;
                margin-top: 23px;
                border: 1px solid #333;

                &::placeholder {
                    font-size: 16px;
                    line-height: 32px;
                    color: #999;
                }
            }
            button {
                @include button();
                margin-top: 23px;
                padding: 17px 35px;
                width: 157px;

            }
        }
        .telephone {
            margin-top: 36px;
            div {
                margin-bottom: 18px;
                font-size: 24px;
                line-height: 32px;
            }
            img:first-child{
                margin-right: 20px;
            }
            
        }
    }
}

footer {
    @include content-contaner();
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: #000;
    color: #fff;

    img:not(:last-child){
        margin-right: 20px;
    }
}
