@import url("../fonts/opensans.css");

body {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    color: #333;
    background-color: #999;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

a {
    cursor: pointer;
    text-decoration: none;
}

h3 {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
}

@mixin content-contaner($top: 85px, $bottom: 80px) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: 150px;
    padding-right: 160px;
}

@mixin button {
    cursor: pointer;
    padding: 23px 30px;
    border: 1px solid #9D5CD0;
    border-radius: 30px;
    background-color: transparent;
    font-weight: bold;
}

@mixin swiper-button {
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
    top: 130px;

    &::after {
        font-size: 15px;
        color: #fff;
    }
}

@mixin p-class {
    &:hover {
        color: #C283F3;
    }
    &:focus {
        outline: 1px solid #7943A4;
    }
    &:active {
        color: #7943A4;
        outline: none;
    }
}

.contaner {
    width: 1920px;
    margin: 0 auto;

    // Автоматический слайдер с анимацией
    .swiper-container {
        position: absolute;
        width: 1920px;
        height: 800px;
        overflow: hidden;
        z-index: -1;

        @keyframes backgroundImg {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }

        .swiper-slide-active {
            position:absolute;
            top: 0;
            left: 0;
            animation: backgroundImg 5s ease-in-out infinite;
        }

        .slide_1 {
            background-image: url('../img/unsplash1.jpg');
        }
        .slide_2 {
            background-image: url('../img/unsplash2.jpg');
        }
        .slide_3 {
            background-image: url('../img/unsplash3.jpg');
        }
    }
}
header {
    .header {
        @include content-contaner;
        display: flex;
        padding-top: 22px;
        padding-bottom: 22px;
        align-items: center;
        justify-content: space-between;
        background-color: #000;
        color: #fff;
        // Логотип
        &__logo {
            h1 {
                font-weight: 600; 
                font-size: 36px;
            }
            p {
                font-size: 15px;
                font-weight: 100;
            }
        }
        // Навигация
        &__nav {
            position: relative;
            right: 50px;
            a {
                @include p-class();
                color: #fff;
            }
    
            ul {
                display: flex;
                font-size: 18px;
                font-weight: 100;
            }
    
            li:not(:last-child) {
                margin-right: 70px;
            }
        }
        // Кнопка Войти
        &__login {
            @include p-class();
            cursor: pointer;
            font-style: 18px;
            
            &::before {
                content: "\2386";
                position: relative;
                top: 3px;
                margin-right: 6px;
                font-size: 35px;
            }
        }
    }
    
    .header__search {
        @include content-contaner;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 30px;
        padding-bottom: 0;
        // Меню с выпадающими списками
        .contaner__menu {
            display: flex;
            justify-content: space-between;
    
            ul {
                display: flex;
            }
    
            li {
                color: #fff;
                position: relative;
                padding-bottom: 30px;
                font-weight: 100;
        
                &:not(:last-child) {
                    margin-right: 120px;
                }
        
                &:hover {
                    color: #C283F3;
        
                    a::after {
                        top: 1px;
                        border-bottom: none;
                        border-right: none;
                        border-top: 1px solid #C283F3;
                        border-left: 1px solid #C283F3;
                    }
                }
            }
    
            a {
                &::after {
                    content: ""; //2227
                    position: relative;
                    bottom: 2px;
                    left: 10px;
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-bottom: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    transform: rotate(45deg);
                }      
            }
            // Отображение выпадающего меню при наведении
            li:hover .search__menu {
                display: block;
            }
    
            // Выпадающее меню
            .search__menu {
                position: absolute;
                top: 46px;
                display: none;
                width: 300px;
                height: 300px;
                background-color: rgba(0, 0, 0, 0.4);
        
                .simplebar-vertical {
                    background-color: #000;
                    width: 3px !important;
                    height: 222px;
                    top: 38px !important;
                    right: 13px;
                }
                .simplebar-scrollbar {
                    background-color: #9D5CD0;
                }
            
                .menu__item {
                    position:relative;
                    cursor: pointer;
                    width: 206px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-left: 14px;
                    margin-left: 40px;
                    margin-right: 40px;
                    color: #fff;
            
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                    &:first-child {
                        margin-top: 40px;
                    }
                    &:last-child {
                        margin-bottom: 40px;
                    }
            
                    &:hover {
                        outline: 2px solid #9D5CD0;
                    }
                    &:active {
                        outline: 2px solid #D1A9F0;
                        background-color: #C283F3;
            
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 220px;
                            height: 40px;
                            background-color: #C283F3;
                            opacity: 0.4;
                        }
                    }
                }
                .item1{
                    background-image: url(../img/menu/Rectangle57.jpg);
                }
                .item2{
                    background-image: url(../img/menu/Rectangle58.jpg);
                }
                .item3{
                    background-image: url(../img/menu/Rectangle59.jpg);
                }
                .item4{
                    background-image: url(../img/menu/Rectangle60.jpg);
                }
            }
        }
        // Форма поиска
        .form-search {
            position: relative;
            bottom: 10px;
            &:hover {
                rect {
                    fill: #C283F3;
                }
                path {
                    fill: #C283F3;
                }
                input {
                    border-bottom: 1px solid #C283F3;
                }
            }
    
            &:focus-within {
                rect {
                    fill: #C283F3;
                }
                path {
                    fill: #C283F3;
                }
                input {
                    color: #C283F3;
                    border-bottom: 1px solid #fff;
                }
            }
    
            svg {
                position: relative;
                top: 5px;
                margin-right: 9px;
        
                &:focus {
                    outline: 1px solid #C283F3;
                }
            }
        
            input {
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid #fff;
                width: 218px;
                font-size: 18px;
                line-height: 25px;
                font-weight: 100;
                color: #fff;
        
                &::placeholder {
                    font-family: "Open Sans";
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 100;
                    color: #fff;
                }
                &:focus {
                    outline: 1px solid #C283F3;
                }
            }
        }
        
    }
    
    .header-banner {
        @include content-contaner(70px, 120px);
        max-width: 600px;
        color: #fff;
    
    
        h2 {
            font-weight: bold;
            font-size: 72px;
            line-height: 83px;
        }
    
        p { 
            margin-top: 20px;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
        }
        button {
            @include button;
            margin-top: 92px;
            font-size: 20px;
            color:#fff;
            background-color: #9D5CD0;
        }
    } 
}

// О нас
.about-us {
    @include content-contaner(80px, 66px);
    background-color: #fff;

    p {
        width: 67%;
        margin-top: 15px;
        line-height: 32px;
    }
}
// Галерея
.gallery {
    @include content-contaner($bottom: 75px);
    position: relative;
    display: flex;
    height: 835px;
    background-image: url(../img/gallery.jpg);
    color:#fff;
    overflow: hidden;

    .swiper-container-gallery {
        overflow: hidden;
        margin-top: 85px;

        .swiper-wrapper {
            overflow: hidden;
        }
        
        .swiper-slide {
            height: 350px;
            width: 350px;
          }
    
        .swiper-button-prev {
            @include swiper-button;
            left: 605px;
        }
    
        .swiper-button-next {
            @include swiper-button;
            left: 705px;
        }
    
        .swiper-pagination {
            width: 100px;
            height: auto;
            top: 118px;
            left: 620px;
        }
    }
    
    .column-one {
        min-width: 450px;

        .filter {
            margin-top: 25px;
        }

        .select {
            cursor: pointer;
            margin-top: 18px;
            width: 400px;
    
            &__header {
                position: relative;
                display: flex;
                padding: 10px;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 6px;
            }
        
            &__icon {
                position: absolute;
                right: 14px;
                top: 14px;
                width: 7px;
                height: 7px;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                transform: rotate(45deg);
            }
        
            &__body {
                border-radius: 6px;
                border: 1px solid #999;
                display: none;
            }
            &__item {
                padding: 10px;
                color: #999;
        
                &:not(:last-child){
                    border-bottom: 1px solid #999;
                }
                
            }
    
            &.is-active .select__body{
                display: block;
            }
            
            &.is-active .select__icon{
                border-right: none;
                border-bottom: none;
                border-left: 1px solid #fff;
                border-top: 1px solid #fff;
            }
            
            .hidden-item {
                display: none;
            }
        }
    
        .info {
            position: absolute;
            width: 400px;
            bottom: 65px;
            font-weight: 600;
            line-height: 32px;
    
            a {
                color: #9D5CD0;
            }
        }
    }
}
// Каталог
.catalog {
    @include content-contaner($bottom: 0);
    background-color: #fff;
    
    &__header {
        display: flex;
    }
    ul {
        position: relative;
        top: 12px;
        right: 8px;
        display: flex;

        li{
            margin-left: 50px;
        }
    }

    .catalog_text {
        margin-top: 19px;
        line-height: 31px;
        margin-bottom: 40px;
        width: 67%;
    }

    &__body {
        display: flex;

        .card {
          width: 750px;
          margin-right: 50px;

          .name {
            font-size: 25px;
            line-height: 33px;
            margin-top: 30px;            
          }
          .date {
              font-size: 12px;
              margin-top: 10px;
              color:#999
          }
          .info {
              margin-top: 7px;
              font-size: 16px;
              line-height: 32px;
          }
        }

        .age {
            width: 800px;
            .age-item {
                display: flex;
                align-items: center;
                border-top: 1px solid #cacaca;
                padding-top: 32px;
                padding-bottom: 32px;

                &:nth-child(13){
                    border-bottom: 1px solid #cacaca;
                }

                p {
                   font-size: 24px;
                   font-weight: 600;
                   line-height: 32px; 
                }

                button {
                    margin-left: auto;
                    width: 50px;
                    height: 50px;
                    background-color: #ececec;
                    border-radius: 50%;
                    border: none;

                    &::after {
                        content: "";
                        position: relative;
                        top: 3px;
                        left: 12px;
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-top: 1px solid #000;
                        border-left: 1px solid #000;
                        transform: rotate(45deg);
                    }
                }
            }

            .ui-state-active {
                border-bottom: 1px solid #cacaca;
                button::after {
                    content: "";
                    top: 0;
                    border-top: none;
                    border-left: none;
                    border-bottom: 1px solid #000;
                    border-right: 1px solid #000;
                }
            }
            
            ul {
                padding-top: 25px;
                padding-bottom: 38px;
                height: 300px;
                display: flex;
                flex-direction: column;
	            flex-wrap: wrap;
                li {
                    cursor: pointer;
                    margin-left: 0;
                    width: 250px;
                    &:not(:nth-child(9n+1)) {
                        margin-top: 15px;
                    }
                    &:hover {
                        color: #9D5CD0;
                    }

                }
                
            }
        }
        
    }
}
// События
.events {
    @include content-contaner($top: 75px, $bottom: 75px);
    background-color: #fff;
    &__contaner {
        display:flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .card-hidden {
            display: none;
        }
        .card {
            position: relative;
            width: 500px;
            height: 700px;
            outline: 1px solid #999;
            &:not(:nth-child(3n+1)){
                margin-left: 50px;
            }
            &:nth-child(n+4){
                margin-top: 50px;
            }
            .date {
                margin-top: 11px;
                margin-right: 19px;
                text-align: right;
                color: #999;
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
            }
            .name {
                margin-top: 4px;
                margin-left: 50px;
                margin-right: 50px;
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
            }
            .info {
                margin-left: 50px;
                margin-right: 50px;
                line-height: 32px;
            }
            a {
                position: absolute;
                bottom: 48px;
                left: 50px;
                border-bottom: 1px solid #9D5CD0
            }
    
        }
    }
    button {
        @include button;
        display: block;
        margin: 50px auto 0;
        color: #9D5CD0;
        font-weight: bold;

    }
}

.books-contaner {
    @include content-contaner($top:80px);
    display: flex;
    background-image: url(../img/books.jpg);
    color: #fff;

    .books {
        width: 610px;

        .checkbox {
            display: flex;
            flex-direction: column;

            &-header {
                font-weight: bold;
                font-size: 16px;
                line-height: 32px;
            }
            .label-check {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

        }
        .cost {
            margin-top: 30px;
            &__header {
                font-weight: bold;
                margin-bottom: 10px;
                line-height: 32px;
            }
            &__contaner{
                display: flex;
                width: 277px;
                border: 1px solid #999;
                border-radius: 6px;
                p {
                    font-weight: normal;
                    margin: 4px 10px;
                }
                input {
                    width: 73px;
                    background-color: #9D5CD0;
                    border: none;
                }

            }
        }
    }
    .books_list {
        position: relative;
        margin-left: 190px;
        padding-top: 50px;
        overflow: hidden;
        .books__item{
            position: relative;
            max-width: 350px;
            height: 512px;
            .name {
                margin-top: 23px;
                font-weight: 600;
            }
            .autor {
                margin-top: 10px;
            }
            .cost {
                position: absolute;
                bottom: 80px;
                right: 20px;
                font-style: italic;
            }
            button {
                @include button;
                margin-top: 20px;
                color: #fff;
                padding: 8px 14px;
            }
        }
        .swiper-pagination {
            position: absolute;
            top: 16px;
            left: 55px;
            text-align: unset;
        }

        .swiper-button-next {
            position: absolute;
            @include swiper-button;
            top: 30px;
            left: 100px;
        }
        .swiper-button-prev {
            position: absolute;
            @include swiper-button;
            top: 30px;
        }
    }
}

.projects {
    @include content-contaner;
    background-color: #fff;
    p {
      margin-top: 30px;
      line-height: 32px;
      width: 65%;  
    }
    .sponsors__name {
        margin-top: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    .swiper-container-sponsors {
        position: relative;
        padding-top: 23px;
        padding-left: 50px;
        overflow: hidden;

        .swiper-button-prev {
            @include swiper-button;
            position: absolute;
        }
        .swiper-button-next {
            @include swiper-button;
            position: absolute;
        }
    }
}

.contacts {
    @include content-contaner();
    background-color: #fff;
    padding-bottom: 0;
    padding-left: 0;

    h3 {
        padding-left: 160px;
    }

    .form {
        width: 540px;
        border-top: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
        padding-top: 124px;
        padding-left: 160px;
        padding-bottom: 124px;

        .firmname {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }

        .adress {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-top: 36px;
            div{
                font-size: 24px;
                line-height: 32px;
            }
            input {
                width: 400px;
                border-radius: 100px;
                padding: 4px 24px 4px;
                margin-top: 23px;
                border: 1px solid #333;

                &::placeholder {
                    font-size: 16px;
                    line-height: 32px;
                    color: #999;
                }
            }
            button {
                @include button();
                margin-top: 23px;
                padding: 17px 35px;
                width: 157px;

            }
        }
        .telephone {
            margin-top: 36px;
            div {
                margin-bottom: 18px;
                font-size: 24px;
                line-height: 32px;
            }
            img:first-child{
                margin-right: 20px;
            }
            
        }
    }
}

footer {
    @include content-contaner();
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: #000;
    color: #fff;

    img:not(:last-child){
        margin-right: 20px;
    }
}
