@import url("../fonts/opensans.css");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    color: #333;
    background-color: #999;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

h3 {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
}
$p-left: 150px;
$p-right: 160px;

@mixin content-contaner($top: 85px, $bottom: 80px) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $p-left;
    padding-right: $p-right;

    @media (max-width:1024px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@mixin button() {
    cursor: pointer;
    position: relative;
    padding: 23px 30px;
    border: 2px solid #9D5CD0;
    border-radius: 30px;
    background-color: transparent;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
        color:#fff;
        background-color: #9D5CD0;
    }
    &:active {
        background-color: #D1A9F0;
    }

    &:focus {
        &::after {
            content: "";
            position: absolute;
            top: -7px;
            left: -7px;
            right: 0;
            bottom: 0;
            display: block;
            border: 2px solid #9D5CD0;
        }
    }
}

@mixin swiper-button {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #666;
    background-color: #666;
    border-radius: 50%;
    top: 130px;
    transition: all 0.3s ease-in-out;

    &::after {
        position: relative;
        top: 6px;
        left: 9px;
        font-size: 15px;
        color: #fff;
    }
    &:hover {
        background-color: #9D5CD0;
        border: 2px solid #9D5CD0;
    }
    &:active {
        background-color: #7943A4;
        border: 2px solid #D1A9F0;
    }
    &:focus {
        border: 2px solid #D1A9F0;
    }
}

@mixin p-class {
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #C283F3;
    }
    &:focus {
        outline: 1px solid #7943A4;
    }
    &:active {
        color: #7943A4;
        outline: none;
    }
}

.contaner {
    width: 1920px;
    margin: 0 auto;
}
.header {
    position: relative;

    &__background-img {
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
.header-main {
    @include content-contaner($top:22px,$bottom:22px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    .form-search {
        display: none;
    }
}
.header-search {
    @include content-contaner($top:0, $bottom:0);
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-banner {
    @include content-contaner(70px, 120px);
    max-width: 900px;
    color: #fff;


    &__title {
        font-weight: bold;
        font-size: 72px;
        line-height: 83px;
    }

    &__subtitle { 
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
    }
    &__button {
        @include button();
        margin-top: 92px;
        font-size: 20px;
        color:#fff;
        background-color: #9D5CD0;
        border: 3px solid #9D5CD0;
        transition: all 0.2s linear;
        &:focus {
            &::after {
                width: 333px;
                height: 80px;
                border-radius: 35px;
            }
        }
        &:hover {
            border: 3px solid #D1A9F0;
        }
        &:active {
            background-color: #7943A4;
        }
    }
}
// Автоматический слайдер с анимацией
.swiper-container-background {
    width: 1920px;
    height: 800px;
    overflow: hidden;

    @keyframes backgroundImg {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .swiper-slide-active {
        position:absolute;
        top: 0;
        left: 0;
        animation: backgroundImg 5s ease-in-out infinite;
    }

    .slide_1 {
        background-image: url('../img/unsplash1.jpg');
    }
    .slide_2 {
        background-image: url('../img/unsplash2.jpg');
    }
    .slide_3 {
        background-image: url('../img/unsplash3.jpg');
    }
}
// Бургер меню
.main-burger {
    display: none;
}
// Логотип
.logo {
    &__title {
        font-weight: 600; 
        font-size: 36px;
    }
    &__subtitle {
        font-size: 15px;
        font-weight: 100;
    }
}
// Навигация
.main-nav {
    &__link {
        @include p-class();
        color: #fff;
        transition: color 0.3s linear;
    }

    &__items {
        display: flex;
        font-size: 18px;
        font-weight: 100;
    }

    &__item:not(:last-child) {
        margin-right: 70px;
    }
}
// Кнопка Войти
.login {
    @include p-class();
    cursor: pointer;
    font-style: 18px;
    transition: color 0.3s linear;
    
    &::before {
        content: "\2386";
        position: relative;
        top: 3px;
        margin-right: 6px;
        font-size: 35px;
    }
}
// Меню с выпадающими списками
.search-nav {
    display: flex;
    &__item {
        color: #fff;
        position: relative;
        font-weight: 100;
        transition: all 0.3s ease-in-out;

        &:not(:last-child) {
            margin-right: 120px;
        }

        &:hover {
            color: #C283F3;

            a::after {
                top: 1px;
                border-bottom: none;
                border-right: none;
                border-top: 1px solid #C283F3;
                border-left: 1px solid #C283F3;
            }
        }
        &:hover .search-nav__list {
            max-height: 300px;
        }
        
    }
    &__link {
        display: flex;
        height: 70px;
        align-items: center;
        
        &::after {
            content: ""; //2227
            position: relative;
            bottom: 2px;
            left: 10px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-bottom: 1px solid #FFFFFF;
            border-right: 1px solid #FFFFFF;
            box-sizing: border-box;
            transform: rotate(45deg);
        }      
    }
    &__list {
        position: absolute;
        top: 70px;
        max-height: 0;
        overflow:hidden;
        transition: max-height 0.4s linear;
    }  
}
// Список художников с кастомным скролбаром
.painter-list {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);

    .simplebar-vertical {
        background-color: #000;
        width: 3px !important;
        height: 222px;
        top: 38px !important;
        right: 13px;
    }
    .simplebar-scrollbar {
        background-color: #9D5CD0;
    }

    &__item {
        position:relative;
        cursor: pointer;
        width: 206px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 14px;
        margin-left: 40px;
        margin-right: 40px;
        color: #fff;

        &:not(:last-child){
            margin-bottom: 20px;
        }
        &:first-child {
            margin-top: 40px;
        }
        &:last-child {
            margin-bottom: 40px;
        }

        &:hover {
            outline: 2px solid #9D5CD0;
        }
        &:active {
            outline: 2px solid #D1A9F0;
            background-color: #C283F3;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 220px;
                height: 40px;
                background-color: #C283F3;
                opacity: 0.4;
            }
        }
    }
    .item1{
        background-image: url(../img/menu/Rectangle57.jpg);
    }
    .item2{
        background-image: url(../img/menu/Rectangle58.jpg);
    }
    .item3{
        background-image: url(../img/menu/Rectangle59.jpg);
    }
    .item4{
        background-image: url(../img/menu/Rectangle60.jpg);
    }
}
// Форма поиска
.form-search {
    &:hover {
        rect {
            fill: #C283F3;
        }
        path {
            fill: #C283F3;
        }
        input {
            border-bottom: 1px solid #C283F3;
        }
    }

    &:focus-within {
        rect {
            fill: #C283F3;
        }
        path {
            fill: #C283F3;
        }
        input {
            color: #C283F3;
            border-bottom: 1px solid #fff;
        }
    }

    svg {
        position: relative;
        top: 5px;
        margin-right: 9px;
        transition: all 0.3s ease-in-out;

        &:focus {
            outline: 1px solid #C283F3;
        }
    }

    input {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        width: 218px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 100;
        color: #fff;
        transition: all 0.3s ease-in-out;

        &::placeholder {
            font-family: "Open Sans";
            font-size: 18px;
            line-height: 25px;
            font-weight: 100;
            color: #fff;
        }
        &:focus {
            outline: 1px solid #C283F3;
        }
    }
}

// О нас
.about-us {
    @include content-contaner(80px, 66px);
    background-color: #fff;

    &__subtitle {
        width: 67%;
        margin-top: 15px;
        line-height: 32px;
    }
}
// Галерея
.gallery {
    @include content-contaner($bottom: 75px);
    position: relative;
    height: 100%;
    background-image: url(../img/gallery.jpg);
    color:#fff;
    overflow: hidden;
    &__title {
        margin-bottom: 20px;
    }
    &__contaner{
        display: flex;
        height: 840px;
    }
    &__filter {
        display: flex;
        padding-right: 40px;
        flex-direction: column;
    }
    &__info {
        width: 400px;
        margin-top: auto;
        font-weight: 600;
        line-height: 32px;
        a {
            color: #9D5CD0;
        }
    }
}
.select {
    cursor: pointer;
    margin-top: 18px;
    width: 400px;
    &__title {
        margin-bottom: 25px;
    }

    &__header {
        position: relative;
        display: flex;
        padding: 10px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 6px;
    }

    &__icon {
        position: absolute;
        right: 14px;
        top: 14px;
        width: 7px;
        height: 7px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(45deg);
    }

    &__body {
        border-radius: 6px;
        border: 1px solid #999;
        display: none;
    }
    &__item {
        padding: 10px;
        color: #999;

        &:not(:last-child){
            border-bottom: 1px solid #999;
        } 
    }

    &.is-active .select__body{
        display: block;
    }
    
    &.is-active .select__icon{
        border-right: none;
        border-bottom: none;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
    }
    
    .hidden-item {
        display: none;
    }
}
.swiper-container-gallery {
    overflow: hidden;
    width: 1150px;
    height: 826px;
    .swiper-gallery-nav {
        position: relative;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    img {
        height: 350px;
        width: 350px;
    }
    .swiper-slide {
        overflow: hidden;
        height: 350px;
    }
    .swiper-wrapper {
        flex-direction: column;
    }

    .swiper-button-prev {
        @include swiper-button();
        position: relative;
        top: 0;
        display: block;
    }

    .swiper-button-next {
        @include swiper-button();
        position: relative;
        top: 0;
        display: block;
    }

    .swiper-pagination {
        position: relative;
        display: block;
        width: 100px;
    }
}
// Каталог
.catalog {
    @include content-contaner($bottom: 0);
    background-color: #fff;
    
    &__header {
        display: flex;
    }

    &__text {
        margin-top: 19px;
        line-height: 31px;
        margin-bottom: 40px;
        width: 67%;
    }

    &__body {
        display: flex; 
    }
    .ui-state-active {
        .age-accordion__button::after {
            content: "";
            top: 0;
            border-top: none;
            border-left: none;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
        }
    }
    .ui-accordion-content-active {
        padding-top: 16px;
        padding-bottom: 22px;
        padding-left: 10px;
        margin: 0 !important;
        padding: 0;
    }
    .ui-accordion-header {
        margin: 0 !important;
    }
    
}
.language-list {
    position: relative;
    top: 12px;
    right: 8px;
    display: flex;
    &__item {
        cursor: pointer;
        position: relative;
        margin-left: 50px;
        &:hover {
            filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
            border-radius: 29px;
        }
        &:active &:focus {
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: -2px;
                left: -2px;
                width: 46px;
                height: 46px;
                border: 2px solid #7943A4;
                border-radius: 50%;
            }
        } 
    }
    &__selected {
        &::after {
            content: "";
            position: absolute;
            top: -12px;
            left: -12px;
            display: block;
            width: 66px;
            height: 66px;
            border: 2px solid #9D5CD0;
            border-radius: 50%;
        }
    }
}
.biography-card {
    width: 750px;
    margin-right: 50px;
    &__img {
        background-image: url(../img/catalog/domeniko.jpg);
        width: 750px;
        height: 470px;
        background-color: #999;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__name {
      font-size: 25px;
      line-height: 33px;
      margin-top: 30px;            
    }
    &__date {
        font-size: 12px;
        margin-top: 10px;
        color:#999
    }
    &__text {
        margin-top: 7px;
        font-size: 16px;
        line-height: 32px;
    }
}
.age-accordion {
    width: 800px;
    &__header {
        display: flex !important;
        align-items: center;
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        height: 113px;
        transition: all 0.3s ease-in-out;

        &:nth-child(13){
            border-bottom: 1px solid #cacaca;
        }
        &:hover {
            color: #9D5CD0;
            border-top: 1px solid #9D5CD0;
            border-bottom: 1px solid #9D5CD0;
            .age-accordion__button {
                background-color: #9D5CD0;
                border: 2px solid #9D5CD0;
                transition: all 0.3s ease-in-out;
                &::after {
                    border-color: #fff;
                }
            }
        }
        &:active {
            color: #7943A4;
            border-top: 1px solid #7943A4;
            border-bottom: 1px solid #7943A4;
            .age-accordion__button {
                background-color: #7943A4;
                border: 2px solid #D1A9F0;
                transition: all 0.3s ease-in-out;
                &::after {
                    border-color: #fff;
                }
            }
        }
        &:focus {
            &::after {
                content: "";
                position: absolute;
                top: -5px;
                left: -5px;
                width: 805px;
                height: 135px;
                border: 2px solid #7943A4;
            }
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px; 
    }
    &__button {
        margin-left: auto;
        width: 50px;
        height: 50px;
        background-color: #ececec;
        border: 2px solid #ececec;
        border-radius: 50%;

        &::after {
            content: "";
            position: relative;
            top: 3px;
            left: 10px;
            display: block;
            width: 12px;
            height: 12px;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            transform: rotate(45deg);
        }
    }
    &__list {
        padding: 25px 0 0 0!important;
        height: 315px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        li {
            cursor: pointer;
            line-height: 32px;
            margin-left: 0;
        }
        p{
            display: inline;
            &:hover {
                color: #9D5CD0;
                border-bottom: 1px solid #9D5CD0;
            }
            &:active {
                color: #7943A4;
            }
            &:focus {
                border: 1px solid #7943A4;
            }
        }
        
    }
    &__item-select {
        p {
            color: #9D5CD0;
            border-bottom: 1px solid #9D5CD0;
        }
        
    }
}

// События
.events {
    @include content-contaner($top: 75px, $bottom: 70px);
    background-color: #fff;
    &__contaner {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__button {
        @include button;
        display: block;
        width: 180px;
        margin: 50px auto 0;
        color: #9D5CD0;
        font-weight: bold;
        &:focus {
            &::after {
                width: 186px;
                height: 70px;
                border-radius: 38px;
            }
        }
    }
    &__hidden {
        display: none;
    }
    .swiper-pagination {
        display: none;
    }
}
.event-card {
    position: relative;
    width: 500px;
    height: 700px;
    outline: 1px solid #999;
    &:not(:nth-child(3n+1)){
        margin-left: 50px;
    }
    &:nth-child(n+4){
        display: none;
        margin-top: 50px;
    }
    &__date {
        margin-top: 11px;
        margin-right: 19px;
        text-align: right;
        color: #999;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
    }
    &__name {
        margin-top: 4px;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }
    &__text {
        margin-left: 50px;
        margin-right: 50px;
        line-height: 32px;
    }
    &__link {
        position: absolute;
        bottom: 48px;
        left: 50px;
        border-bottom: 1px solid #9D5CD0;
        &:hover {
            color: #9D5CD0;
            border-color: #9D5CD0;
        }
        &:active {
            color: #7943A4;
            border-color: #7943A4;
        }
        &:focus {
            &::after {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                width: 90px;
                height: 20px;
                border: 1px solid #7943A4;
            }
        }
    }

}


// Издания
.books {
    @include content-contaner($top:80px, $bottom:67px);
    display: flex;
    background-image: url(../img/books.jpg);
    color: #fff;

    &__filter {
        width: 610px;

    }
}
.books-checkbox {
    display: flex;
    flex-direction: column;

    &__header {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
    }
    &__label-check {
        cursor: pointer;
        position: relative;
        display: block;
        padding-left: 24px;
        transition: color .3s ease-in-out ;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__item {
        display: none;
    }
    &__item + span {
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #fff;
    }
    &__item:checked + span {
        border: 1px solid #C283F3;
        transition: border .3s ease-in-out ;
    }
    &__item + span::before {
        content: '\25CF';
        position: absolute;
        bottom: 0;left: 1px;
        opacity: 0;
        color: #C283F3;
        transition: opacity .3s ease-in-out ;
    }
    &__item:checked + span::before{
        opacity: 1;
    }
}
.books-input {
    margin-top: 30px;
    &__header {
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 32px;
    }
    &__contaner{
        display: flex;
        width: 277px;
        border: 1px solid #999;
        border-radius: 6px;
    }
    &__text {
        font-weight: normal;
        margin: 11px 10px;
    }
    &__input {
        width: 73px;
        color: #fff;
        font-size: 16px;
        background-color: #9D5CD0;
        border: none;
    }
}
.books-item {
    position: relative;
    max-width: 350px;
    height: 512px;
    &__name {
        margin-top: 23px;
        font-weight: 600;
    }
    &__autor {
        margin-top: 10px;
    }
    &__cost {
        position: absolute;
        bottom: 80px;
        right: -6px;
        font-style: italic;
    }
    &__button {
        @include button();
        cursor:pointer;
        margin-top: 15px;
        color: #fff;
        padding: 10px 28px;
        &:focus {
            &::after {
                width: 126px;
                height: 46px;
                border-radius: 24px;
            }
        }
    }
    
}
.books-list {
    position: relative;
    margin-left: 163px;
    padding-top: 94px;
    padding-bottom: 10px;
    padding-left: 10px;
    overflow: hidden;
    .swiper-gallery-nav {
        position: relative;
        top: -35px;
        display: flex;
    }    

    .swiper-button-prev {
        @include swiper-button();
        position: relative;
        top: 0;
        display: block;
    }

    .swiper-button-next {
        @include swiper-button();
        position: relative;
        top: 0;
        display: block;
    }

    .swiper-pagination {
        position: relative;
        display: block;
        width: 100px;
    }
}

// Проекты
.projects {
    @include content-contaner($top:80px);
    background-color: #fff;
}
.projects-text {
    margin-top: 16px;
    line-height: 32px;
    width: 65%;
    &__contaner {
        position: relative;
    }
    &__info {
        position: relative;
        color:#fff;
        margin-left: 9px;
        margin-right: 8px;
        &::before {
            content: "i";
            position: absolute;
            left: 1px;
            color: #fff;
            z-index: 1;
            font-size: 14px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: -5px;
            background-color: #9D5CD0;
            border-radius: 50%;
            display: inline-block;
            width: 16px;
            height: 16px;
        }
    }
    &__tooltip {
        position:absolute;
        bottom: 30px;
        right: -121px;
        width: 240px;
        padding: 8px 11px;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        background-color: #cacaca;
        opacity: 0;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 125px;
            border: 6px solid transparent;
            border-top-color: #cacaca;
        }
    }
    &__info:hover + .projects-text__tooltip {
        opacity: 1;
    }
    a {
        color: #9D5CD0;
        &:hover {
            border-bottom: 1px solid #9D5CD0;
        }
        &:active {
            color: #7943A4;
        }
        &:focus {
            border: 1px solid #7943A4;
        }
    }
}
.projects-sponsors {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    
    &__button {
        position: relative;
    }
    &__slide {
        cursor: pointer;
        position: relative;
        filter: grayscale(100%);
        &:hover {
            filter: grayscale(0%);

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 382px;
                height: 126px;
                border: 1px solid #7943A4;
            }
            
        }

    }

    .swiper-container-sponsors {
        position: relative;
        margin-top: 23px;
        margin-right: 54px;
        margin-left: 75px;
        overflow: hidden;
    }
    .swiper-button-prev {
        @include swiper-button;
        position: absolute;
        top: -70px;
        left: 0px;
        &::after {
            top: 0;
            left: 0;
        }
    }
    .swiper-button-next {
        @include swiper-button;
        position: absolute;
        top: -70px;
        right: 7px;
        &::after {
            top: 0;
            left: 0;
        }
    }
}

// Контакты
.contacts {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    &__contaners {
        display: flex;
    }

    h3 {
        padding-left: 160px;
    }  
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 17px;
    }
    input {
        width: 350px;
        border-radius: 100px;
        padding: 11px 24px 11px;
        border: 1px solid #333;

        &::placeholder {
            font-size: 16px;
            line-height: 32px;
            color: #999;
        }
    }
    &__input-name{
        margin-bottom: 25px;

    }
    &__button {
        @include button();
        margin-top: 23px;
        padding: 17px 35px;
        width: 157px;
        &::after {
            width: 163px;
            height: 60px;
            border-radius: 35px;
        }
    }
}
.contact-social {
    margin-top: 40px;
    div {
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 32px;
    }
    img {
        cursor: pointer;
    }
    img:first-child{
        margin-right: 20px;
    }
    
}
.contacts-fidback {
    width: 525px;
    border-top: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    padding-top: 125px;
    padding-left: 160px;
    padding-bottom: 100px;

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }

    &__adress {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }
}
.map {
    width: 1238px;
    height: 700px;
    /* Работа с картой Яндекс */

    [class*="ground-pane"] {
        filter: grayscale(1);
    }

    [class*="gotoymaps__container"] {
        display: none !important;
    }

    [class*="copyright__content"] {
    display: none !important;
    }

}

// Footer
footer {
    @include content-contaner($top:0, $bottom:0);
    display: flex;
    height: 140px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;

    
}

.social {
    svg {
        cursor: pointer;

        &:not(:last-child){
            margin-right: 20px;
        }
    }
    &__vk:hover {
        path {
            fill: #C283F3
        }
    }
    &__fb:hover {
        path {
            fill: #C283F3
        }
    }
    &__instagram:hover {
        path {
            fill: #C283F3
        }
    }
            

}


@media (max-width: 1024px) {

    .contaner {
        width: 1024px;
    }
    .header-main {
        justify-content: space-between;

        .form-search {
            display:block;
            svg {
                width: 28px;
                height: 28px;
            }
            input {
                display: none;
            }
        }
    }
    .main-nav {
        display: none;
    }
    .login {
        display: none;
    }
    .search-nav {
        display: none;
    }
    .main-burger {
        display: block;
    }
    .header {
        &__background-img {
            width: 1024px;
            overflow: hidden;
              
            .slide_1 {
                background-image: url('../img/unsplash1-tablet.jpg');
            }
            .slide_2 {
                background-image: url('../img/unsplash2-tablet.jpg');
            }
            .slide_3 {
                background-image: url('../img/unsplash3-tablet.jpg');
            }
        }  
    }
    .header-search {
        display:none;
    }
    .header-banner {
        padding-top: 105px;
    }
// Галерея
    .gallery{
        &__filter {
            min-width: 350px;
        }
        &__contaner {
            height: 670px;
        }
        &__info {
            width: 290px;
        }
    }
    .select {
        width: 280px;
    }

    .swiper-container-gallery {
        width: 594px !important;
        height: 674px;
        .swiper-slide{
            width: 280px !important;
            height: 280px;
        }
        img {
            width: 280px;
            height: 280px;
        }
        .swiper-gallery-nav {
            padding-top: 40px;
            padding-bottom: 10px;
        }
    }
// Биография
    .biography-card {
        width: 437px;

        &__img {
            width: 437px;
        }
    }
    .age-accordion__list {
        height: 430px;
    }
// События
    .event-card {
        width: 290px;
        &:not(:nth-child(3n+1)){
            margin-left: 27px;
        }
        &:nth-child(n+4){
            margin-top: 27px;
        }
        &__img {
            width: 290px;
        }
        &__name {
            margin-left: 34px;
            margin-right: 34px;
        }
        &__text {
            margin-left: 34px;
            margin-right: 34px;
        }
    }
// Издания

    .books {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .books-list{
        margin-left: 0;
    }
    .books-item {
        
        &__img {
            width: 290px;
            height: 320px;
        }
    }
// Проекты
    .projects-text {
        width: 100%;
    }
    .projects-sponsors {
        .swiper-container-sponsors {
            margin-left: 60px;
        }
    }
// Контакты
    .contacts {
        .title {
            padding-left: 50px;
        }
    }
    .contacts-fidback {
        padding-right: 100px;
        padding-left: 50px;
    }
}

@media (max-width: 768px) {
    .contaner {
        width: 768px;
    }
    .header {
        &__background-img {
            width: 768px;
              
            .slide_1 {
                background-image: url('../img/unsplash1-760.jpg');
            }
            .slide_2 {
                background-image: url('../img/unsplash2-760.jpg');
            }
            .slide_3 {
                background-image: url('../img/unsplash3-760.jpg');
            }
        }  
    }
    .about-us {
        &__subtitle {
            width: 100%;
        }
    }
    .gallery {
       padding-bottom: 164px;
       &__contaner {
           display: block;
           height: 100%;
       }
       &__info {
           position: absolute;
           bottom: 80px;
           width: 95%;
       }
    }
    .swiper-container-gallery {
    width: 668px !important;
    height: 674px;
        .swiper-slide{
            width: 317px !important;
            height: 280px;
        }
        img {
            width: 317px;
            height: 280px;
        }
    }
    .catalog {
        &__text {
            width: 100%;
        }
        &__body {
           flex-direction: column-reverse; 
        }
    }
    .age-accordion {
        width: 668px;
        &__list {
            height: 360px;
        }
    }
    .biography-card {
        width: 100%;
        &__img {
            width: 668px;
            height: 419px;
        }
    }
    .event-card {
        width: 317px;
        &__img {
            width: 317px;
        }
        &:nth-child(2n+1) {
            margin-left: 0;
        }
        &:nth-child(2n){
            margin-left: 27px;
        }
        &:nth-child(n+3){
            display: none;
            margin-top: 27px;
        }
    }

    .books {
        display: block;
        
    }
    .books-checkbox {
        
        &__label-list {
            column-count: 3;
        }
        &__label-check {
            font-size: 12px;
        }
    }
    .books-item {
        &__cost {
            right: 25px;
        }
    }
    .swiper-container-sponsors {
        margin-left: 40px !important; 
        img {
            width: 264px;
            height: 106px;
        }
    }
}

@media (max-width: 320px) {
    .contaner {
        width: 320px;
    }
    .title {
        font-size: 28px;
        line-height: 38px;
    }

    .header-main {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        .form-search {
            svg {
                width: 16px;
            }
        }
    }
    .main-burger {
        svg {
            width: 20px;
        }
    }
    
    .logo {
        &__title {
            font-size: 19px;
        }
        &__subtitle {
            font-size: 8px;
        }
    }
    .header {
        &__background-img {
            width: 320px;
              
            .slide_1 {
                background-image: url('../img/unsplash1-320.jpg');
            }
            .slide_2 {
                background-image: url('../img/unsplash2-320.jpg');
            }
            .slide_3 {
                background-image: url('../img/unsplash3-320.jpg');
            }
        }  
    }
    .header-banner {
        text-align: center;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 45px;
        &__title {
            font-size: 32px;
            line-height: 38px;
        }
        &__subtitle {
            margin-top: 16px;
            font-size: 12px;
            font-weight: 100;
            line-height: 16px;
        }
        &__button {
            margin-top: 20px;
            padding-top: 11px;
            padding-bottom: 14px;
            padding-left: 19px;
            padding-right: 16px;
            font-size: 12px;
        }
    }

    .about-us {
        padding-top: 50px;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 50px;
        &__subtitle {
            font-size: 14px;
            line-height: 28px;
        }
    }

    .gallery {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 12px;
        padding-right: 12px;
        &__info {
            width: 280px;
            font-size: 16px;
            line-height: 32px;
            bottom: 80px;
        }
        .select {
            margin-top: 0;
        }
        
    }

    .swiper-container-gallery {
        width: 290px !important;
        height: 633px;
        margin-top: 40px;
        .swiper-gallery-nav {
            position: absolute;
            bottom: 240px;
            left: 60px;
        }
        .swiper-slide {
            width: 290px !important;
            height: 367px;
        }
        img {
            width: 290px;
            height: 367px;
        }
        .swiper-wrapper {
            flex-direction: row;
        }
    }

    .catalog {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 80px;
        padding-bottom: 80px;
        &__header {
            display: block;
        }
        &__text {
            display: none;
        }
    }
    .language-list {
        position: static;
        margin-top: 20px;
        margin-bottom: 20px;
        &__item {
            margin-left: 0;
            &:not(:first-child) {
                margin-left: 34px;
            }
            &::after {
                width: 40px;
                height: 40px;
                top: -6px;
                left: -6px;
            }
        }
        &__img {
            width: 32px;
        } 
    }
    .age-accordion {
        width: 290px;
        &__title {
            font-size: 18px;
            line-height: 32px;
        }
        &__list {
            height: 810px;
        }
    }
    .biography-card {
        &__img {
            width: 290px;
            height: 181px;
        }
    }
    .events {
        overflow: hidden;
        padding-top: 0;
        padding-right: 12px;
        padding-left: 12px;
        &__button {
            display: none;
        }
        &__wrapper {
            display: flex;
            flex-wrap: nowrap;
            margin-left: 1px;
        }
        &__contaner {
            position: relative;

            width: 300px;
            height: 730px;
        }
        .swiper-pagination {
            display: block;
        }        
    }
    .event-card {
        display: block !important;
        width: 300px !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        &__img {
            width: 300px;
        }
    }

    .books {
        padding-left: 12px;
        padding-right: 12px;
        &__filter {
            width: 300px;
        }
        .swiper-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .swiper-gallery-nav {
            display: none;
        }
    }
    .books-list {
        padding-top: 50px;
    }
    .books-checkbox {
        &__header{
            position: relative;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 300px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            &::after {
                content: "";
                position: absolute;
                right: 10px;
                top: 14px;
                display: block;
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
            }
        }
        &__label-list {
            column-count: 1;
            padding-top: 7px;
        }
        &__label-check {
            border-bottom: 1px solid #fff;
            padding-bottom: 15px;

        }
        &__item + span::after {
            content: '\00D7';
            position: absolute;
            bottom: -7px; right: -280px;
            font-size: 30px;
            opacity: 0;
            color: #C283F3;
            transition: opacity .3s ease-in-out ;
        }

        &__item:checked + span::after{
            opacity: 1;
        }
        .hidden-item {
            display: none;
        }
    }

    .books-item {
        display: inline-block;
        font-size: 12px;
        width: 130px;
        height: 254px;
        &__img {
            width: 130px;
            height: 143px;
        }
        &__name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 9px;
            
        }
        &__autor {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 5px;
        }
        &__cost {
            position: static;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 5px;
        }
        &__button {
            margin-top: 8px;
        }
        &:nth-child(2n) {
            margin-left: 20px;
        }
        &:nth-child(n+3) {
            margin-top: 20px;
        }
    }

    .projects {
        padding-top: 50px;
        padding-left: 12px;
        padding-right: 12px;
        .tooltip-1 {
            &::after {
                left: 104px; 
            }
        }
        .tooltip-2 {
            &::after {
                left: 104px;
            }
        }
        .tooltip-3 {
            right: 0;
            &::after {
                left: 225px; 
            }
        }
    }
    .swiper-container-sponsors {
        width: 195px;
        height: 65px;
        img {
            width: 195px;
            height: 65px;
        }
        
    }

    .projects-sponsors {
        &__button {
            .swiper-button-prev {
                top: -25px;
            }
            .swiper-button-next {
                top: 0;
            }
        }
    }

    .contacts {
        
        &__contaners {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .map {
            position: absolute;
            top: 110px;
            max-width: 320px;
            height: 320px;
        }
        .contacts-fidback {
            width: 320px;
            border-right: none;
            padding-top: 20px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 30px;
            &__title {
                font-size: 20px;
            }
            &__adress {
                font-size: 14px;
                margin-bottom: 360px;
            }
        }
        .contact-form {
            &__title {
                font-size: 18px;
            }
            input {
                width: 290px;
            }
        }
    }
    footer {
        flex-direction: column-reverse;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


