@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff') format('woff2'),
		url('../fonts/Montserrat-Bold.woff2') format('woff');
	font-display: swap;
    font-style: normal;
    font-weight: bold;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-WideMedium.woff2') format('woff2'),
		url('../fonts/Druk-WideMedium.woff') format('woff');
	font-display: swap;
    font-style: normal;
    font-weight: bold;
}
body {
    margin: 0;
}

ul {
    /* Блочная модель */
    padding: 0;
    margin: 0;
    /* Типографика */
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px 97px 20px 73px;
    background-color: #1F2326;
    z-index: 999;
}

.header_riot{
    padding-right: 60px;
    margin-right: 60px;
    border-right: 3px solid #fff;
}

.header_logo {
    padding-right: 80px;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_items-nav {
    display: flex;
}

.header_item-nav {
    display: flex;
    cursor: pointer;
    border-bottom:3px solid #1F2326;
}

.header_item-nav:hover {
    border-bottom:3px solid #FF4656;
}

.header_item-nav {
    margin-right: 80px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.header_login{
    display: flex;
    margin-left: auto;
}

.header_login_avatar {
    border-radius: 50%;
    padding-right: 16px;
}

.header_login_user-name {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.main {
    position: relative;
    padding-top: 150px;
    background-color: #FF4656;
}

.main_background-img {
    position: fixed;
    top: 0;
    mix-blend-mode: multiply;
}

.main_content {
    position: relative;
    left: 200px;
    display: flex;
    flex-wrap: wrap;
}

.main_content-text {
    position: fixed;
    top: 200px;
    left: 20px;
    font-family: "Druk Wide";
    font-size: 4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-align: center;
    writing-mode: tb-rl;
}

.main_character_item {
    position: relative;
    margin-right: 144px;
    background-color: #1F2326;
}

.main_character_img {
    width: 430px;
    cursor: pointer;
}

.main_character_img:hover {
    background-color: #C4C4C4;
}

.main_charecter_skill {
    width: 70px;
    filter: brightness(100);
}

.main_character_item_name{
    position: absolute;
    height: 990px;
    top: 20px;
    left: -48px;
    writing-mode: tb-rl;
    font-family: "Druk Wide";
    -webkit-text-stroke: 2px #F8F8F8;
    color: transparent;
    font-size: 72px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.main_character_item_city {
    position: absolute;
    white-space: nowrap;
    left: 45px;
    top: 25px;
    writing-mode: tb-rl;
    font-family: "Druk Wide";
    color: #FF4656;
    font-size: 24px;
}

.main_character_ability {
    position: relative;
    bottom: 7%;
    left: 4%;
    width: 440px;
    height: 110px;
    border: 2px solid #F8F8F8;
    background-color: #1F2326; 
}

.main_character_ability_items {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    background-color: #F8F8F8;
}

.footer_items {
    position: relative;
    left: 50px;
    bottom: 160px;
    display: flex;
    z-index: 999;
}

.footer_item {
    cursor: pointer;
    display: flex;
    position: relative;
    margin-right: 80px;
    padding: 10px;
    border: 2px solid #1F2326;
    background-color: #F8F8F8;
}

.footer_item:hover {
    background-color: #FF4656;
}

.footer_item_icon {
    filter: invert(100%);
    height: 150px;
}

.footer_item_contener {
    display: none;
    margin-left: 30px;
}

.footer_item_name {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 32px;
    font-family: 'Druk Wide';
    font-size: 40px;
    color: #C4C4C4;
}

.footer_item_discription {
    line-height: 1;
    margin-bottom: 32px;
    font-family: 'Druk Wide';
    font-size: 24px;
    color: #1F2326;
}

.footer_item_text {
    font-family: "Montserrat";
    font-size: 16px;
    color: #1F2326;
}

.main-login-contaner {
    display: none;
}

.active {
    display: block;
}

.main-login {
    position: relative;
    bottom: 100px;
    text-align: center;
    padding: 30px;
    margin: auto;
    width: 600px;
    height: auto;
    border: 2px solid #1F2326;
    background-color: #fff;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
}

.main-login_header {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 32px;
    font-family: 'Druk Wide';
    font-size: 40px;
    color: #C4C4C4;
}

.main-login_text {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 25px;
    left: -45px;
    writing-mode: tb-rl;
    font-family: "Druk Wide";
    -webkit-text-stroke: 2px #1F2326;
    color: transparent;
    font-size: 72px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

input {
    padding: 20px;
    width: 500px;
    margin-bottom: 30px;
    border: 1px solid #1F2326;
    font-family: "Montserrat";
    font-size: 16px;
    color: #1F2326;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #F8F8F8;
}

input::placeholder {
    font-family: "Montserrat";
    font-size: 16px;
    color: #1F2326;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

button {
    width: 200px;
    padding: 20px;
    font-family: "Montserrat";
    font-size: 20px;
    color: #1F2326;
    background-color: #F8F8F8;
}

@media (max-width: 425px) {

}